
.project-entry h5 a {
    color:black;
    text-decoration: underline;
    text-decoration-color: aqua;
}

.project-entry p a {
    color:black;
    text-decoration: underline;
    text-decoration-color: aqua;
}