{% extends "base.html" %}

{% block analytics %}
<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3M9VCZRGS5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3M9VCZRGS5');
</script>
{% endblock analytics %}

{% block content %}
<div class="post-entry">
    <h2 class="mb-3">{{ post.title }}</h2>
    <p>{{ post.body | safe }}</p>
</div>
{% endblock content %}