{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block analytics %}
<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3M9VCZRGS5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3M9VCZRGS5');
</script>
{% endblock analytics %}

{% block content %}
<div class="home-content">
    <h2 class="mb-3"> Hey, I'm Matt.</h2>
    <p>I’m an engineer and product manager interesting in building tools with data and machine learning.</p>
    <p>I work as a fullstack software engineer. In my free time I am exploring deep learning and building products with
        LLMs. I recently participated in <a target="_blank" href="https://buildspace.so/">Buildspace</a> Nights and
        Weekends, during
        which I researched how to improve the
        quality of LLM-based chatbots.</p>
    <p>At the start of 2022, I took a break from work to attend <a target="_blank" href="https://www.recurse.com/">The
            Recurse
            Center</a>, a self directed retreat for programmers.
        I built web apps, studied machine learning, and learned a lot from other engineers.
        You can read about my experience <a href="https://mattambrogi.bearblog.dev/">here</a>.</p>
    <p>
        Before that I worked at Capital One. I was a part of Capital One’s first cohort of their Product Development
        Program.
        In my frist role I worked to find actionable insights in customer data.
        I was then promoted to work as a PM on Capital One’s machine learning platform, where I stayed for a year
        an a half.
        My team built tools that enabled data scientists and engineers to experiment with, improve, and deploy models at
        scale. During this time I was also selected first cohort of <a target="_blank"
            href="https://twitter.com/lennysan/status/1356278817489240070?s=20">Lenny Rachitsky's Product Management
            Course</a>.
    </p>

    <p>
        I went to the University of Maryland where I designed my own major called Engineering and Product Management.
        My course work consisted of math, physics, computer science, design, and business.
    </p>

    <p>
        Outside of all of that I love to go on adventures outside, skateboard, ride my bike, write, and play music.
        I was lucky enough to take a year off during college and spend time traveling after.
        I’ve spent a month in each of the following countries: China, Laos, Cambodia, India, Indonesia, Nicaragua.
    </p>

    <p>I host some writing and recent projects on this site. If you'd like to find out more about me,
        you can find me on <a target="_blank" href="https://twitter.com/matt_ambrogi">Twitter</a>, <a target="_blank"
            href="https://github.com/mattambrogi">GitHub</a>,
        or <a target="_blank" href="https://www.linkedin.com/in/matthew-ambrogi/">LinkedIn</a>
    </p>
</div>
{% endblock content %}