{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block analytics %}
<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3M9VCZRGS5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3M9VCZRGS5');
</script>
{% endblock analytics %}

{% block content %}
<div class="home-content">
    <h2 class="mb-3"> Hey, I'm Matt.</h2>
    <p>I’m interested in programming, products, and machine learning.</p>
    <p>I've worked as a software engineer, product manager, and data analyst. I'm currently exploring, and building
        products with, machine learning and LLMs.</p>
    <p>Last year I did a batch at <a href="https://www.recurse.com/">The Recurse
            Center</a>, where I build web apps and studied ML. You can read about my experience <a
            href="https://mattambrogi.bearblog.dev/">here</a>
        Before that I worked as a product manager on Capital One's machine learning platform. My team built tools that
        enabled data scientists and engineers to experiment with, improve, and deploy models at
        scale.
    </p>
    <p>
        I also did data analysis at Capital One for a while and interned as a product manager at Alarm.com, a smart home
        platform.
        I went to The University of Maryland where I designed my own major called Engineering and Product Management.
        My course work covered math, physics, computer science, mechanical engineering, design, and business.
    </p>
    <p>
        Outside of work, I like to explore outside, skateboard, play guitar, and write.
    </p>
    <p>I host some writing and recent projects on this site. If you'd like to find out more about me,
        you can find me on <a href="https://twitter.com/matt_ambrogi">Twitter</a>, <a
            href="https://github.com/mattambrogi">GitHub</a>,
        or <a href="https://www.linkedin.com/in/matthew-ambrogi/">LinkedIn</a>
    </p>
</div>
{% endblock content %}