{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block analytics %}
<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3M9VCZRGS5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3M9VCZRGS5');
</script>
{% endblock analytics %}

{% block content %}
{% for post in note_list %}
{% if post.show_in_feed %}
<ul class="post-entry mt-4">
    <li>
        <h5><a href="{% url 'note' post.slug %}">{{ post.title }}</a></h5>
        <p class="text-secondary">{{ post.created_at.date }}</p>
    </li>
</ul>
{% endif %}
{% endfor %}
{% endblock content %}